PORT=5000
# Gunakan kredensial asli miliknya si Railway nanti
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=hotel_citycome

# Rahasiakan ini dengan sandi unik dan jadikan panjang (Penting untuk Keamanan Admin!)
JWT_SECRET=rahasia_negara_citycome_12345
